language = "cpp"
run="export CC=clang; export CXX=clang++; mkdir -p ../build; cd ../build; cmake ../acc-cosc-1337-spring-2021-Hannah-Kim-acc/; make; cd src/examples/01_module/03_input; ./ex_01_03_exe -s" 